# ShopSphere Frontend Environment Variables
# For Local Development:
# NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

# For Production (Vercel): Set this to your Railway Backend public domain URL
NEXT_PUBLIC_BACKEND_URL=https://shopsphere-production-aa3f.up.railway.app
